# Database Configuration (Railway / Local)
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=

# App Secrets & Configuration
JWT_SECRET=your_secret_jwt
PORT=
CLIENT_URL=your_url_client

# Telegram Bot Audit Configuration
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_chat_id_here

